<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<p>posted by: <strong><%= @post.user.email %></strong> on <em><%= @post.date_published %></em></p>

<% if @post.user == current_user %>
  <%= link_to "Delete Post", post_path(@post), :method => 'DELETE' %>
<% end %>
<button type="button" name="button">New Reply</button>

<script type="text/javascript">

</script>
